<h1 class="center">Welcome to</h1>
<h1 class="center logo btn-primary">OPTICS</h1>
<hr>
<div>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<!-- <div class="jumbotron" style="background-image: url('/images/optics_logo.png'); center; height:320px">
  <p style="color:white">Compare commercial insurance packages,</p>
  <p style="color:white">review your book of business, and market</p>
  <p style="color:white">policies intelligently with a glance.</p> -->
  <!-- <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a> -->
</div>
