<h1>Home</h1>
<div class="jumbotron" style="background-image: url('/images/optics_logo.png'); center; height:320px">
  <p style="color:white">Compare commercial insurance packages,</p>
  <p style="color:white">review your book of business, and market</p>
  <p style="color:white">policies intelligently with a glance.</p>
  <!-- <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a> -->
</div>
