// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    text-color: white;
}

.logo {
    border: 3px solid white;
}

.home-background {
  background-color: #609dff;
}
